@model IEnumerable<EntityLayer.Concreate.ContactUs>


@{
    ViewData["Title"] = "ActiveContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    int value = 0;
}

@foreach(var x in Model)
{
    value++;
}


@if(value>0) {

    <h1>Bize Ulaşın Mesajları</h1>

    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>İsim</th>
            <th>Mail</th>
            <th>Konu</th>
            <th>Mesaj</th>
            <th>Tarih</th>
            <th>Durum</th>
            <th>Sil</th>
            <th>Detay</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ContactUsID</td>
                <td>@x.ContactUsName</td>
                <td>@x.ContactUsMail</td>
                <td>@x.ContactUsSubject</td>
                <td>@x.ContactUsMessage</td>
                <td>@x.ContactUsDate.ToString("dd-MMM-yyyy")</td>

                @{
                    if (@x.ContactUsStatus == true)
                    {
                        <td>Aktif</td>
                    }
                    else
                    {
                        <td>Pasif</td>
                    }
                }

                <td>
                    <a class="btn btn-danger" href="/Admin/ContactUs/ChangeStatusFalseContact/@x.ContactUsID">Sil</a>
                </td>
                <td>
                    <a class="btn btn-info" href="/Admin/ContactUs/ContactDetail/@x.ContactUsID">Detay</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="/Admin/ContactUs/SendMail/@x.ContactUsID">Cevapla</a>
                </td>
            </tr>
        }


    </table>
}
else
{
    <h1>Henüz Mesaj Yok</h1>
}





<a href="/Admin/ContactUs/PasifContact" class="btn btn-primary">Silinen Mesajları gör</a>

