@model IEnumerable<EntityLayer.Concreate.AppUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad Soyad</th>
        <th>Kullanıcı Adı</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Tur Geçmişi</th>
    </tr>
    @foreach(var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Name @x.Surname</td>
            <td>@x.UserName</td>
            <td>@x.Email</td>
            <td>
                <a class="btn btn-danger" href="/admin/User/DeleteUser/@x.Id">Sil</a>
            </td>
            <td>
                <a class="btn btn-primary" href="/Admin/User/DestinationUser/@x.Id">Geçmiş Turları</a>
            </td>
        </tr>  
    }

</table>

<a class="btn btn-success" href="/Login/SingUp/">Kullanıcı Ekle</a>

