@model IEnumerable<EntityLayer.Concreate.Reservation>

@{
    ViewData["Title"] = "ActiveRecervationList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Aktif Rezervasyonlar</h1>

@if (Model.Count() > 0)
{
    <table class="table table-bordred">
        <tr>
            <th>Id</th>
            <th>İsim</th>
            <th>Rezervasyon Adeti</th>
            <th>Tarih</th>
            <th>Durum</th>
            <th>İptal Et</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ReservationId</td>
                <td>@x.AppUser.Name</td>
                <td>@x.PersonCount</td>
                <td>@(x.ReservationDate.HasValue ? x.ReservationDate.Value.ToString("dd-MM-yyyy") : "")</td>
                <td>@x.status</td>
                <td>
                    <a href="/Admin/Recervation/PasifRecervation/@x.ReservationId" class="btn btn-danger">İptal Et</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h2>Onaylanan Rezervasyon Yoktur</h2>
}



